mixin tbl(color)
  table(width='100%' cellpadding='0' cellspacing='0' border='0' bgcolor=color)
    if block
      block

mixin text(size, weight, color, lineHeight)
  - size = size || 16
  - weight = weight || 500
  - color = color || '#0b0c0c'
  - lineHeight = lineHeight || '1.3'
  font(face='Arial, sans-serif' size='2' style='font-size: #{size}px; font-weight: #{weight}; line-height: #{lineHeight}em' color=color)
    if block
      block

doctype strict
html
  head
    title= data.subject
  body(style='margin: 0; padding: 0;')
    +tbl
      tr
        td(bgcolor='#0b0c0c')
          table(width='580' cellpadding='0' cellspacing='0' border='0' align='center')
            tr
              td(height='47' valign='middle')
                img(width='152' height='27' src='cid:govuk_logotype_email' alt='GOV.UK' border='0' style='display:block;')
    +tbl('#ffffff')
      tr: td
        table(width='580' cellpadding='0' cellspacing='0' border='0' align='center')
          tr: td(height='15')
          tr: td
            +tbl
              tr
                td(width='2' bgcolor='#c80651')
                td(width='8')
                td(width='36')
                  img(src='cid:org_crest' alt='UKTI Logo' width='36' height='30' style='display:block;')
                td(width='8')
                td: +text(18) Department for International Trade
          tr: td(height='30')
          block content
